table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } 

tr:nth-child(even){
    background-color: #dddddd;
}

#idUserData{
    margin-top: 20px;
    margin-bottom: 10px;
}

.city{
    background-color: tomato;
    color: white;
    border: 1px solid pink;
    margin: 20px;
    padding: 10px;
}

.note {
    font-size: 120%;
    color: red;
  }

  .main{
    font-size: 30px;
  }